.avatarRound {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 7px #ccc;
    margin-bottom: 20px;
}
.avatarM01{background: #ffffff url('../MyProfile/img/m/avatar_m_01.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM02{background: #ffffff url('../MyProfile/img/m/avatar_m_02.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM03{background: #ffffff url('../MyProfile/img/m/avatar_m_03.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM04{background: #ffffff url('../MyProfile/img/m/avatar_m_04.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM05{background: #ffffff url('../MyProfile/img/m/avatar_m_05.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM06{background: #ffffff url('../MyProfile/img/m/avatar_m_06.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM07{background: #ffffff url('../MyProfile/img/m/avatar_m_07.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM08{background: #ffffff url('../MyProfile/img/m/avatar_m_08.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM09{background: #ffffff url('../MyProfile/img/m/avatar_m_09.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM10{background: #ffffff url('../MyProfile/img/m/avatar_m_10.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM11{background: #ffffff url('../MyProfile/img/m/avatar_m_11.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM12{background: #ffffff url('../MyProfile/img/m/avatar_m_12.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM13{background: #ffffff url('../MyProfile/img/m/avatar_m_13.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM14{background: #ffffff url('../MyProfile/img/m/avatar_m_14.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM15{background: #ffffff url('../MyProfile/img/m/avatar_m_15.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM16{background: #ffffff url('../MyProfile/img/m/avatar_m_16.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM17{background: #ffffff url('../MyProfile/img/m/avatar_m_17.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM18{background: #ffffff url('../MyProfile/img/m/avatar_m_18.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM19{background: #ffffff url('../MyProfile/img/m/avatar_m_19.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM20{background: #ffffff url('../MyProfile/img/m/avatar_m_20.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM21{background: #ffffff url('../MyProfile/img/m/avatar_m_21.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM22{background: #ffffff url('../MyProfile/img/m/avatar_m_22.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM23{background: #ffffff url('../MyProfile/img/m/avatar_m_23.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM24{background: #ffffff url('../MyProfile/img/m/avatar_m_24.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarM25{background: #ffffff url('../MyProfile/img/m/avatar_m_25.jpg') no-repeat center center; background-size: cover; background-position: center;}

.avatarF01{background: #ffffff url('../MyProfile/img/f/avatar_f_01.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF02{background: #ffffff url('../MyProfile/img/f/avatar_f_02.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF03{background: #ffffff url('../MyProfile/img/f/avatar_f_03.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF04{background: #ffffff url('../MyProfile/img/f/avatar_f_04.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF05{background: #ffffff url('../MyProfile/img/f/avatar_f_05.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF06{background: #ffffff url('../MyProfile/img/f/avatar_f_06.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF07{background: #ffffff url('../MyProfile/img/f/avatar_f_07.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF08{background: #ffffff url('../MyProfile/img/f/avatar_f_08.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF09{background: #ffffff url('../MyProfile/img/f/avatar_f_09.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF10{background: #ffffff url('../MyProfile/img/f/avatar_f_10.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF11{background: #ffffff url('../MyProfile/img/f/avatar_f_11.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF12{background: #ffffff url('../MyProfile/img/f/avatar_f_12.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF13{background: #ffffff url('../MyProfile/img/f/avatar_f_13.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF14{background: #ffffff url('../MyProfile/img/f/avatar_f_14.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF15{background: #ffffff url('../MyProfile/img/f/avatar_f_15.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF16{background: #ffffff url('../MyProfile/img/f/avatar_f_16.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF17{background: #ffffff url('../MyProfile/img/f/avatar_f_17.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF18{background: #ffffff url('../MyProfile/img/f/avatar_f_18.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF19{background: #ffffff url('../MyProfile/img/f/avatar_f_19.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF20{background: #ffffff url('../MyProfile/img/f/avatar_f_20.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF21{background: #ffffff url('../MyProfile/img/f/avatar_f_21.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF22{background: #ffffff url('../MyProfile/img/f/avatar_f_22.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF23{background: #ffffff url('../MyProfile/img/f/avatar_f_23.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF24{background: #ffffff url('../MyProfile/img/f/avatar_f_24.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatarF25{background: #ffffff url('../MyProfile/img/f/avatar_f_25.jpg') no-repeat center center; background-size: cover; background-position: center;}

.myprofilePage {
  h3{
    margin-top: 0px;
  }
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 6px;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .myprofilePage {
    h3{
      margin-top: 0px;
    }
    form {
      :global(.btn) {
        margin-left: 0px;
      }
    }
    input {
      margin-right: 0px;
    }
    .btnSpacer{
      margin-right: 10px;
    }
    .container{
      margin-top: 20px !important;
    }
  }
}
