.avatarRound {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 7px #ccc;
    margin-bottom: 20px;
}
.avatarMain {
    margin-bottom: 3px;
}
.btnAvatar {
  margin-right: 3px;
  margin-top: 12px;
  margin-left: 1px;
  padding: 4px 12px;
  font-size: 15px;
  margin-bottom: 13px;
}
.btnEdit {
  padding: 4px 10px;
  font-size: 10px;
}
.btnSave{
  padding: 5px 12px;
  font-size: 12px;
  margin-left: 0px !important;
  min-height: 31px;
  margin-top: -1px;
}
.m5 {
  margin-top: 5px;
}
.m15 {
  margin-top: 11px;
  padding-top: 9px;
  min-height: 35px;
}
.m0p0{
  margin: 0 !important;
  padding: 0 !important;
}
.topLine {
  border-top: 1px solid #ccc;
}
.clickElement{
    cursor: pointer; cursor: hand;
}
.avatar1{background: #ffffff url('../MyProfile/img/m/avatar_m_01.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar2{background: #ffffff url('../MyProfile/img/m/avatar_m_02.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar3{background: #ffffff url('../MyProfile/img/m/avatar_m_03.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar4{background: #ffffff url('../MyProfile/img/m/avatar_m_04.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar5{background: #ffffff url('../MyProfile/img/m/avatar_m_05.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar6{background: #ffffff url('../MyProfile/img/m/avatar_m_06.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar7{background: #ffffff url('../MyProfile/img/m/avatar_m_07.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar8{background: #ffffff url('../MyProfile/img/m/avatar_m_08.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar9{background: #ffffff url('../MyProfile/img/m/avatar_m_09.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar10{background: #ffffff url('../MyProfile/img/m/avatar_m_10.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar11{background: #ffffff url('../MyProfile/img/m/avatar_m_11.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar12{background: #ffffff url('../MyProfile/img/m/avatar_m_12.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar13{background: #ffffff url('../MyProfile/img/m/avatar_m_13.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar14{background: #ffffff url('../MyProfile/img/m/avatar_m_14.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar15{background: #ffffff url('../MyProfile/img/m/avatar_m_15.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar16{background: #ffffff url('../MyProfile/img/m/avatar_m_16.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar17{background: #ffffff url('../MyProfile/img/m/avatar_m_17.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar18{background: #ffffff url('../MyProfile/img/m/avatar_m_18.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar19{background: #ffffff url('../MyProfile/img/m/avatar_m_19.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar20{background: #ffffff url('../MyProfile/img/m/avatar_m_20.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar21{background: #ffffff url('../MyProfile/img/m/avatar_m_21.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar22{background: #ffffff url('../MyProfile/img/m/avatar_m_22.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar23{background: #ffffff url('../MyProfile/img/m/avatar_m_23.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar24{background: #ffffff url('../MyProfile/img/m/avatar_m_24.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar25{background: #ffffff url('../MyProfile/img/m/avatar_m_25.jpg') no-repeat center center; background-size: cover; background-position: center;}

.avatar26{background: #ffffff url('../MyProfile/img/f/avatar_f_01.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar27{background: #ffffff url('../MyProfile/img/f/avatar_f_02.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar28{background: #ffffff url('../MyProfile/img/f/avatar_f_03.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar29{background: #ffffff url('../MyProfile/img/f/avatar_f_04.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar30{background: #ffffff url('../MyProfile/img/f/avatar_f_05.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar31{background: #ffffff url('../MyProfile/img/f/avatar_f_06.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar32{background: #ffffff url('../MyProfile/img/f/avatar_f_07.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar33{background: #ffffff url('../MyProfile/img/f/avatar_f_08.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar34{background: #ffffff url('../MyProfile/img/f/avatar_f_09.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar35{background: #ffffff url('../MyProfile/img/f/avatar_f_10.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar36{background: #ffffff url('../MyProfile/img/f/avatar_f_11.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar37{background: #ffffff url('../MyProfile/img/f/avatar_f_12.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar38{background: #ffffff url('../MyProfile/img/f/avatar_f_13.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar39{background: #ffffff url('../MyProfile/img/f/avatar_f_14.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar40{background: #ffffff url('../MyProfile/img/f/avatar_f_15.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar41{background: #ffffff url('../MyProfile/img/f/avatar_f_16.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar42{background: #ffffff url('../MyProfile/img/f/avatar_f_17.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar43{background: #ffffff url('../MyProfile/img/f/avatar_f_18.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar44{background: #ffffff url('../MyProfile/img/f/avatar_f_19.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar45{background: #ffffff url('../MyProfile/img/f/avatar_f_20.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar46{background: #ffffff url('../MyProfile/img/f/avatar_f_21.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar47{background: #ffffff url('../MyProfile/img/f/avatar_f_22.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar48{background: #ffffff url('../MyProfile/img/f/avatar_f_23.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar49{background: #ffffff url('../MyProfile/img/f/avatar_f_24.jpg') no-repeat center center; background-size: cover; background-position: center;}
.avatar50{background: #ffffff url('../MyProfile/img/f/avatar_f_25.jpg') no-repeat center center; background-size: cover; background-position: center;}

.dateStyle{
  font-size: 10px;
  font-style: italic;
  color: grey;
}

.myprofilePage {
  h3{
    margin-top: 0px;
  }
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 6px;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .myprofilePage {
    h3{
      margin-top: 0px;
    }
    form {
      :global(.btn) {
        margin-left: 0px;
      }
    }
    input {
      margin-right: 0px;
    }
    .btnSpacer{
      margin-right: 10px;
    }
    .container{
      margin-top: 20px !important;
    }
  }
}
