.infoBar {
  font-variant: italics;
}
.time {
  margin: 0 30px;
}
.adcontainerDesktop {
  display: none;
  padding-top: 10px;
}
.adcontainerMobile{
  display: block;
  padding-top: 10px;
}

@media (min-width: 750px) {
  .adcontainerDesktop {
		display: block;
  }
  .adcontainerMobile {
		display: none;
  }
}
