
.cylon{
  background: #ffffff url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/infobar/cylon.png') no-repeat center top;
  width: 30px;
  height: 30px;
}
.infoBar {
  font-variant: italics;
}
.time {
  margin: 0 30px;
}
.adcontainerDesktop {
  display: none;
  padding-top: 10px;
}
.adcontainerMobile{
  display: block;
  padding-top: 10px;
}

@media (min-width: 770px) {
  .adcontainerDesktop {
		display: block;
  }
  .adcontainerMobile {
		display: none;
  }
}
