.labelGeneralStyle{
  float: left;
  margin-top: 6px;
  padding: 5px;
  margin-right: 21px;
}
.roc{
  font-size: 0.9em;
  color: #696969;
  line-height: 2.1em;
}
.btnPaddings{
  margin-top: 12px;
  margin-bottom: 21px;
}
.pt35{
  padding-top: 35px;
}
.pn{
  padding: 0px !important;
}
.italic{
  font-style: italic;
}
.pb7{
  padding-bottom: 7px !important;
}
.faColor{
  color: #000000;
}
.mr5{
  margin-right: 5px;
}
.btnDelete{
  opacity: 0.6;
}
.hyphens{
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.h1BtnStyle{
  margin-bottom: 10px;
  float: left;
  margin-right: 12px;
}
.mt20m{}

@media (max-width: 768px) {
  .mt20m{
    margin-top: 20px;
  }
}
