// Preload Images
.preloadimages {
	background:
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/home/bg.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/home/logo.png') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_01.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_02.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_03.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_04.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_05.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_06.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_07.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_08.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_09.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_10.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_11.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_12.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_13.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_14.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_15.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_16.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_17.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_18.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_19.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_20.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_21.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_22.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_23.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_24.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/m/avatar_m_25.jpg') no-repeat -9999px -9999px,

url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_01.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_02.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_03.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_04.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_05.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_06.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_07.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_08.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_09.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_10.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_11.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_12.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_13.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_14.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_15.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_16.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_17.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_18.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_19.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_20.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_21.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_22.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_23.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_24.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/f/avatar_f_25.jpg') no-repeat -9999px -9999px,

url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag0.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag1.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag2.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag3.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag4.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag5.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag6.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag7.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag8.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag9.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag10.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag11.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag12.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag13.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag14.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag15.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag16.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag17.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag18.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag19.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag20.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag21.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag22.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag23.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag24.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag25.jpg') no-repeat -9999px -9999px,
url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/myprofile/flags/flag26.jpg') no-repeat -9999px -9999px,

url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t01.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t02.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t03.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t04.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t05.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t06.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t07.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t08.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t09.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t10.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t11.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t12.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t13.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t14.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t15.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t16.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t17.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t18.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t19.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t20.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t21.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t22.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t23.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t24.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t25.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t26.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t27.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t28.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t29.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t30.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t31.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t32.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t33.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t34.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t35.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t36.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t37.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t38.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t39.jpg") no-repeat -9999px -9999px,
url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/community/t40.jpg") no-repeat -9999px -9999px,

url("//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/infobar/cylon.png") no-repeat -9999px -9999px

}

.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
}
.faNav{
	font-size: 1.2em;
	margin-right: 2px;
}
.well h3{
  margin-top: 0px !important;
}
.loader {
	$size: 30px;
	background: url('//s3.eu-central-1.amazonaws.com/swiss-react.ch/resources/img/home/loader.gif') no-repeat center center;
	width: $size;
	height: $size;
}
