
.search2{}
.search2button{}
.searchPaddings{
  margin-bottom: ;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
    .search2{
      text-align: left !important;
      margin-top: 5px !important;
    }
    .search2button{
      width: 100% !important;
    }
}
